# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
hw1/smash

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.txt
*.py
# Fortran module files
*.mod
*.smod
check_file.cpp
*.md
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
